<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/assets/css/admin_style.css">
</head>
<body style="background: yellow;">

<nav>
    Register to the BICTEINFOO Portal
</nav>


<section id="admin-form" style="background: lightblue">

    <div class="a-form-box">
        <form action="" method="post">
            
            <label for="">Username</label>
            <input type="text">

            <label for="">Semester</label>
            <input type="text">

            <label for="">Email</label>
            <input type="email">

            <br>

            <label for="">Password</label>
            <input type="password">

            <br>
            <a class="my-btn" href="login.html">Register</a>

            <p style="padding-top: 24px;">Have an account?
                <a href="login.html">Login</a>
            </p>
        </form>
    </div>
</section>
    
</body>
</html>